* {
	margin: 0;
	padding: 0;
	font-family: "MS Sans Serif", Geneva, sans-serif;
	font-weight: lighter;
}

body {
	margin: 10px 60px 60px 60px;
}

p {
	margin-bottom: 5px;
}

strong {
	font-weight: bold;
}

ul {
	margin-bottom: 50px;
}
h1 {
	font-weight: bold;
	margin-top: 10px;
	margin-bottom: 10px;
	font-size: 170%;
}

li {
	list-style: none;
	margin-top: 15px;
}

li p:first-of-type {
	font-weight: bold;
	background-color: #DDD;
	border-bottom: 1px solid #DDD;
}

a {
	color: blue;
}

p {
	text-align: justify;
}




