 <div id="cv">
        <div id="cv_body">
        	<ul>
        		<li id="personal_data">
	        		<p class="element_title">Personal information</p>
    	   		 	<ul class="element_body">
						<li>
							<p class="header">Name</p>
							<p>Víctor Pena Placer</p>
						</li>
						<li>
							<p class="header">Mail address</p>
							<p>contact@victorpena.es</p>
						</li>
						<li>
							<p class="header">Website</p>
			                <p><a href="http://www.victorpena.es">victorpena.es</a></p>
						</li>		
						<li>
							<p class="header">Nationality</p>
							<p>Spanish</p>
						</li>										
					</ul>
        		</li>
        	
        		<li>
	        		<p class="element_title">Professional experience</p>
    	   		 	<ul class="element_body">
						<li>
							<p class="header">12/2011 - present</p>
							<p><span class="highlight">iOS engineer</span> at <a href="http://www.trabesoluciones.com">Trabe Soluciones S.L.</a></p>
						</li>
						<li>	
							<p class="header">12/2010 - present</p>
							<p><span class="highlight">iOS engineer</span> and <span class="highlight">co-founder</span> at <a href="http://www.filloadev.com">Filloa Dev</a>.</p>
							<p>Published applications <a href="http://www.filloadev.com/otempo">O Tempo</a>,
							<a href="http://www.filloadev.com/galipedia">Galipedia</a> 
							and <a href="http://www.filloadev.com/refraneiro">Refraneiro Galego</a>.
							Further information at <a href="http://www.filloadev.com">filloadev.com</a>.</p>
						</li>
						<li>
							<p class="header">07/2011 - 08/2011</p>
							<p><span class="highlight">Internship</span> at <a href="http://www.trabesoluciones.com">Trabe Soluciones S.L.</a></p>
							<p>Development of a application for software downloading and management. Developed with Play! Framework and Hibernate for Java.</p>
						</li>						
						<li>
							<p class="header">01/2009 - 05/2009</p>
							<p><span class="highlight">Internship</span> at the Matemathics department in the University of A Coruña.</p>
							<p>System administration tasks and installation and configuration of the new department website, made with Drupal.</p>
						</li>
					</ul>
        		</li>
        		
	        	<li>
	        		<p class="element_title">Education</p>
    	   		 	<ul class="element_body">
						<li>
							<p class="header">2009 - present</p>
							<p><span class="highlight">Computer Engineering</span>, University of A Coruña.</p>
						</li>
						<li>
							<p class="header">2009 - 2010</p>
							<!-- http://dept-info.univ-brest.fr/pages/masque-centre-iup.htm -->
							<p>Enrolled in the <span class="highlight">Erasmus Program</span>, Université Bretagne Occidentale, France.</p>
							<p>Taken subjects from the first year of the Master in Information Technology and Software Engineering (<a href="http://dept-info.univ-brest.fr/pages/enseignements-m1-iup.htm">M1 TIIL</a>).</p>
						</li>
						<li>
							<p class="header">2005 - 2009</p>
							<p><span class="highlight">Technical Engineering in Computer Systems</span>, University of A Coruña.</p>
							<p><span class="highlight">Thesis:</span> Maths e-learning web application. Obtained qualification of 9.5/10.</p>
						</li>
					</ul>
        		</li>
        		
        		<li>
	        		<p class="element_title">Technical skills</p>
    	   		 	<ul class="element_body">
						<li>
							<p class="header">Programming languages</p>
							<p>Objective-C, Java, C, C#, Python, Javascript, PHP</p>
						</li>
						<li>
							<p class="header">Environments</p>
							<p>XCode 4 and 3, Eclipse, Netbeans, MS Visual Studio</p>
						</li>						
						<li>
							<p class="header">Other</p>
							<p>git, Subversion, Play!, Hibernate, Spring, Tapestry, jQuery, HTML, CSS, Cocoa, SQL</p>
						</li>
					</ul>
        		</li>

        		<li>
	        		<p class="element_title">Languages</p>
    	   		 	<ul class="element_body">
						<li>
							<p class="header">Spanish and Galician</p>
							<p>Mother tongues</p>
						</li>
						<li>
							<p class="header">English</p>
							<p><span class="highlight">Intermediate 2</span>, expedited by the Official Language School.</p>
							<p>2-months stay in Ireland.</p>
						</li>						
						<li>
							<p class="header">French</p>
							<p><span class="highlight">Intermediate 2</span>, expedited by the French Department of Education (Ministère de l'Éducation).</p>
							<p>9-months stay in France.</p>
						</li>
					</ul>
        		</li>
        	</ul>
        </div>
	</div>