#{extends 'main.html' /} 
#{set title:'Home' /} 
#{set 'moreScripts'}
<script type="text/javascript">
   var action = #{jsAction @Application.tweets() /}
   
   $('#tweetlist').ready(function() { 
	   $.get(action(),function(data) {
			$('#tweetlist').html(data);
		}).error(function() { 
			$('#tweetlist').html("error while retrieving tweets"); 
			});  
   });
</script>
#{/set}
#{set 'sidebar'}
<p>
	<a href="http://http://en.wikipedia.org/wiki/Galicia_(Spain)">Galician</a>,
		<a href="http://en.wikipedia.org/wiki/September_16">24 years old</a>,
		<a href="http://www.fic.udc.es">Computer Engineer</a>,
		<a href="http://www.filloadev.com">iOS engineer</a>, 
		<a href="http://www.flickr.com/victorpena">amateur photographer</a>.
</p>
<div id="tweets">
<h1>Recent tweets</h1>
<div id="tweetlist">Loading...</div>
</div>
#{/set}

<div id="project_thumbnails">
	#{list projects, as:'project'}
		#{project_thumbnail project, parity:project_parity /}
	#{/list}
</div>
